/* Basic reset */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    /* Styling for the header */
    .header {
        display: flex; /* Enables Flexbox */
        justify-content: space-between; /* Spaces out the logo and the nav bar */
        align-items: center; /* Vertically centers items in the header */
        background-color: #ffffff;
        padding: 10px;
        position: sticky;
        top: 0;
        z-index: 1000; 
    }
    
    /* Logo style */
    .header img {
        height: 70px;
    }
    
    /* Navigation bar styling */
    nav ul {
        margin-top: 10px;
        list-style-type: none;
        display: flex;
    }
    
    nav ul li {
        
        margin-left: 70px;
        
    }
    
    nav ul li:last-child {
        margin-right: 70px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #507bb3;
    }
    
    nav ul li a.highlight {
        background-color: white; /* White background */
        color: #D90707; /* Navy text */
        border: 2px solid #D90707; /* Navy border */
        padding: 10px 20px; /* Top & Bottom, Left & Right padding */
        text-decoration: none; /* Removes underline from links */
        font-size: 16px; /* Font size */
        display: inline; /* Aligns padding and allows height/width adjustments */
        cursor: pointer; /* Changes cursor to pointer on hover */
        transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    }

    nav ul li a.highlight:hover {
        background-color: #D90707; /* Navy background on hover */
        color: white; /* White text on hover */
    }

    /* Basic styling for main content */
    body {
        font-family: Newsreader, sans-serif;
        line-height: 1.6;
        padding: 20px;
    }
    
    /* Text alignment */
    h1 {
        font-family: Newsreader, sans-serif;
        color: #507bb3;
        font-size: 50px;
        line-height: 2; 
        text-align: right;
        padding-right: 20px;
        margin-top: 70px;
        margin-bottom: 30px;
    }

    h2 {
        color: #D90707;
        font-size: 30px;
        text-align: right;
        padding-right: 1100px;
        margin-top: 30px;
    }
    
    p {
        scroll-padding-top: 20px;
        scroll-padding-bottom: 20px;
        color: #507bb3;
        margin-top: 30px;
        padding-left: 150px;
        padding-right: 150px;
        margin-bottom: 30px;
    }
    
    /* Text and Image Container */
    .text-image-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .text-content {
        flex: 1;
    }
    
    .right-image {
        width: 60%;
        max-width: 400px;
        margin-right: 150px; /* Adjusted margin */
        margin-top: 40px;
    }
    
    /* Responsive Design */
    @media (max-width: 768px) {
        .text-image-container {
            flex-direction: column;
        }
    
        .right-image {
            width: 100%;
            max-width: none;
            margin-left: 0;
            margin-top: 200px;
        }

        p {
            text-align: left;
        }
    
        
    }

    @keyframes blink {
        50% { border-color: transparent; }
    }
    
    .typing {
        
        font-size: 50px; /* Adjust font size as needed */
        margin-right: 20px;
        margin-top: -20px;
        border-right: 2px solid; /* Make the cursor thinner */
        animation: blink 0.75s step-end infinite;
        
    }



.email-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white; /* White background */
    color: #D90707; /* Navy text */
    border: 2px solid #D90707; /* Navy border */
  
    text-decoration: none;
    font-weight: bold;
}
.email-button:hover {
    background-color: #507bb3;
}



